<!DOCTYPE html>
<html>
  <head>
    <title>HiCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWQMbbhNFh7ldO0SKR4nJnZYwOq7J-JRo"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.hicampLogo = "<%= image_url('hicamp2.PNG') %>";
      window.favicon = "<%= image_url('favicon.png') %>";
    </script>
    <link rel="shortcut icon" type="image/png" href="https://djqvcbmmgpti5.cloudfront.net/assets/favicon/favicon-9b19af215b3f5e88da114996bdd1038bc4a8390c67e16c7eebc2318ffafee7da.ico">
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
