<!DOCTYPE html>
<html>
  <head>
    <title>HiCamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWQMbbhNFh7ldO0SKR4nJnZYwOq7J-JRo"></script>
    <meta
      name="description"
      content="HiCamp"
    />
    <meta name="title" property='og:title' content='HiCamp' />
    <meta property='og:image' content='../assets/images/homepage.PNG' />
    <meta property='og:description' content='Hicamp'/>
    <meta property='og:url' content='https://hicamp-zz.herokuapp.com/#/' />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/png" href="https://hicamp-seed.s3-us-west-1.amazonaws.com/favicon.ico">
    <script src="https://kit.fontawesome.com/c3f0d3b5b6.js" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXTHH46PHB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZXTHH46PHB');
    </script>
    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
